.hero-homepage-container .hero-homepage-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-homepage-container {
  padding: 0;
}

.hero-homepage {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero-homepage h1 {
  font-size: var(--heading-font-size-xxl);
  font-weight: 700;
  color: var(--heading-color);
  line-height: 1.01;
  margin: 0 0 16px;
  max-width: 600px;
}

.hero-homepage p {
  font-size: var(--body-font-size-m);
  color: var(--text-color);
  max-width: 500px;
  margin: 0 0 8px;
  line-height: 1.5;
}

.hero-homepage > div:first-child {
  order: 1;
}

.hero-homepage > div:last-child {
  order: 0;
  padding: 24px 20px;
}

.hero-homepage picture {
  display: block;
  line-height: 0;
}

.hero-homepage img {
  width: 100%;
  height: auto;
  display: block;
}

@media (width >= 900px) {
  .hero-homepage {
    flex-direction: row;
    align-items: center;
    min-height: 500px;
  }

  .hero-homepage > div:first-child {
    order: 0;
    flex: 0 0 50%;
  }

  .hero-homepage > div:last-child {
    order: 1;
    flex: 0 0 50%;
    padding: 40px 32px 40px 64px;
  }

  .hero-homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
